body {
    background-color: #4e4e4e;
    padding: 0;
    margin: 0;
    font-family: "Courier New", sans-serif;
    font-weight: bold;
}

canvas {
    border-style: solid;
    border-width: 10px;
    border-color: #b4b4b4;
}

#defaultCanvas0 {
    position: absolute;
    top: 200px;
    left: 30px;
    display: none;
}
